# Entornos virtuales
venv/
env/

# Caché de Python
__pycache__/
*.pyc
*.pytest_cache

# Datos locales (¡Nunca subir el Data Lake local a Git!)
data/

# Bases de datos locales (DuckDB)
*.db
*.wal

# Configuración de IDEs
.vscode/
.idea/

# backups y archivos temporales
*.bkp